
@{
    ViewBag.Title = "详情页";
}
<h3>这个消息来自 Home 控制器下的 Detail 的视图文件 Detail.cshtml</h3>
<p><a href="/">返回首页</a></p>
<table>
    <tr>
        <td>编号:</td>
        <td>@Model.ID</td>
    </tr>
    <tr>
        <td>姓名:</td>
        <td>@Model.Name</td>
    </tr>
</table>
